* {
    margin: 0;
    padding: 0;
}

text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
}

body {
    margin: 0;
    padding: 0;
    background-color: #adb7cc;
}

header {
    background-color: #2aa56b;
    padding: 10px 0;
    text-align: center;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: bold;
    
}

h1 {
    font-size: 24px;
    color: #222222;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 15px;
    color: black;
    line-height: 1.5;
}

strong {
    color: #ad1212;
    font-weight: bold;
    text-decoration: underline;
}

.paragrafo-001 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 100em;
    padding: 10px;
    margin: 5px;
    border: #222222 1px solid;
    border-radius: 10px;
    background-color: #dbaf5c;
    line-height: 1.5;
}

table,                     /* "table" (tag para iniciar tabela),   */
    th,                        /* "th"    (tag para coluna cabeçalho) e */ 
    td {                       /* "td     (tag para coluna), terão como formatação: */
      border: 1px solid black;}